

.container{
    width:100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:auto;
    font-size: 1.2rem;
    background-color: #2E3440
    ;
}

.card{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:50vw;
    padding: 30px ;
    background-color: #3B4252    ;
    border-radius: 10px;
    box-shadow:2px 2px 2px #434C5E    ;
}
.question{
    
 width:75%;
 margin-bottom:1rem;
 color:#D8DEE9;
 font-size: 1.3rem;
}
.options{
    display:flex;
    flex-direction: column;
    width:75%;
}

.option{
    box-sizing: border-box;
   text-align: left;
    width:100%;
    margin-bottom: 1rem;
    padding:10px 0 10px 10px;
    font-size: 1rem;
    border:none;
    border-radius: 8px ;
    color:#D8DEE9;

}

.prevnext{
    width:75%;
    display: flex;
    justify-content: space-around;
}

.button{
    width:25%;
   background-color: #66bb6a;
}